<div class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Войти в аккаунт</h2>

    <form class="mt-8 space-y-6 form" #ngForm="ngForm">
      <!--  <pre><code>{{ userInfo | json }}</code></pre>-->
      <div class="-space-y-px rounded-md shadow-sm">

        <div style="margin-top: 10px" class="form-field my-4">
          <label for="email" class="sr-only">Email</label>
          <input
            class="relative block w-full rounded px-2 border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            required
            name="email"
            type="email"
            id="email"
            placeholder="Enter your email">
          <!--      [(ngModel)]="userInfo.email"-->
          <!--      #email=ngModel-->
          <!--    >-->
          <!--    <p class="input-error" *ngIf="ngForm.submitted && email.hasError('email')">This field is required</p>-->
        </div>
        <div style="margin-top: 10px" class="form-field my-4">
          <label for="password" class="sr-only">Password</label>
          <input
            class="relative block w-full rounded px-2 border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            name="password"
            type="password"
            id="password"
            placeholder="Enter password">
        </div>
        <!--    <div class="form-field">-->
        <!--      <label for="confirm-password">Confirm password</label>-->
        <!--      <input-->
        <!--        name="confirm-password"-->
        <!--        type="password"-->
        <!--        id="confirm-password"-->
        <!--        placeholder="Confirm the password">-->
        <!--    </div>-->
        <button type="submit" style="background-color: #25984c; margin-top: 10px" class="group relative flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Войти</button>
        <!--  <button type="reset" class="reset-button">Reset</button>-->
      </div>

    </form>
  </div>
</div>
