<form class="form" #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)">
  <pre><code>{{ userInfo | json }}</code></pre>
  <div class="form-field">
    <label for="company_name">Company Name</label>
    <input
      required
      type="text"
      name="company_name"
      id="company_name"
      placeholder="Enter your company name"
      [(ngModel)]="userInfo.company_name"
      [ngModelOptions]="{ name: 'company name' }"
      #companyName=ngModel>
<!--      (ngModelChange)="companyNameChange($event)"-->
    <p class="input-error" *ngIf="ngForm.submitted && companyName.hasError('required')">This field is required</p>
  </div>
  <div class="form-field">
    <label for="company_address">Company Address</label>
    <input
      required
      minlength="3"
      name="company_address"
      type="text"
      id="company_address"
      placeholder="Enter your company address"
      [(ngModel)]="userInfo.company_address"
      #company_address=ngModel
    >
    <p class="input-error" *ngIf="ngForm.submitted && company_address.hasError('required')">This field is required</p>
<!--    <p class="input-error" *ngIf="ngForm.submitted && company_address.hasError('appBannedWord')">Banned word {{ company_address.getError('appBannedWord').bannedWord }} used!</p>-->
  </div>
  <div class="form-field">
    <label for="phone">Phone number</label>
    <input
      required
      maxlength="11"
      type="number"
      id="phone"
      name="phone"
      [(ngModel)]="userInfo.phone">
  </div>
  <div class="form-field">
    <label for="email">Email</label>
    <input
      required
      email
      name="email"
      type="email"
      id="email"
      [(ngModel)]="userInfo.email"
      placeholder="Provide your email"
      #email=ngModel
    >
    <p class="input-error" *ngIf="ngForm.submitted && email.hasError('email')">This field is required</p>
  </div>
  <div class="form-field">
    <label for="password">Password</label>
    <input
      name="password"
      type="password"
      id="password"
      placeholder="Enter password">
  </div>
<!--    <div class="form-field">-->
<!--      <label for="confirm-password">Confirm password</label>-->
<!--      <input-->
<!--        name="confirm-password"-->
<!--        type="password"-->
<!--        id="confirm-password"-->
<!--        placeholder="Confirm the password">-->
<!--    </div>-->
  <button>Register</button>
<!--  <button type="reset" class="reset-button">Reset</button>-->
</form>
